<div class="container">
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <span style="font-size: xx-large; font-weight: 600;">Employee Registeration</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <app-employee-list> </app-employee-list>
  <!--<div class="row">
        <div class="col-md-2">
            <app-employee>

            </app-employee>
        </div>

        <div class="col-md-10">
            <app-employee-list>

            </app-employee-list>
        </div>
    </div>-->
</div>
